.user-network-card {
  margin: 20px 10px;
  box-shadow: 10px 10px 25px 2px rgb(163, 162, 162);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  width: 20rem;
  padding: 12px;
}

.user-link {
  display: inline;
  text-decoration: none;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 4px;
  border: 5px solid #292c2900;
  background-color: #e5f7e2;
  border-radius: 5px;
  min-width: 40px;
  color: rgb(75, 75, 73);
  font-size: 18px;
  font-weight: bold;
}
