.network-navigation {
  z-index: 100;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #fff;
  padding-left: 24px;
}

.network-nav-item {
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  min-width: 40px;
}
.network-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
