# dependencies
node_modules

*.env
package-lock.json
yarn.lock

.idea
yarn.lock
yarn-error

front/build
front/yarn.lock
fornt/yarn-error.log
front/.package-lock.json

back/logs
back/yarn.lock
back/yarn-error
back/.package-lock.json


