# dependencies
node_modules

*.env
.package-lock.json
.idea


front/build
front/yarn.lock
fornt/yarn-error.log
front/.package-lock.json

back/logs
back/yarn.lock
back/.package-lock.json
back/yarn-error

