.profile-ground {
  position: absolute;
  z-index: 1;
}
.profile-tree {
  position: absolute;
  z-index: 2;
}
.profile-grass {
  position: absolute;
  z-index: 3;
}

.profile-flower {
  position: absolute;
  z-index: 4;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 40px;
}

.item {
}
.right-container {
  overflow: auto;
  display: grid;
  grid-row-gap: 40px;
}
